<!DOCTYPE html>
<html>
<head>
    <title>Signup Form</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
<div class = "outer">
    <form method = 'POST'>
         <div class = "container">
            <label>Name:</label>
            <p><input type="text" name="name"/></p>
            <label>Email:</label>
            <p><input type="text" name="email"/></p>
            <p>Password:</p>
            <p><input type="text" name="passwrd"/></p>
            <p>AuthKey:</p>
            <p><input type="text" name="authkey"/></p>
            <p><button type="submit" value="Sign Up"/></p>
        </div>
    </form>
</div>
</body>
</html>