/* General global v-data-table related styles */

.expandable-table-row {
    cursor: pointer;
}

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content {
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.25);

    td {
        border-left: 2px solid var(--v-primary-base) !important;
    }
}

.theme--light.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content td {
    background-color: #fcfcfc;
}

.theme--dark.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content td {
    background-color: #333;
}

.theme--light.v-data-table tbody tr.v-data-table__selected td {
    background-color: #FFEBEE;
    border-bottom: 2px solid #FFCDD2 !important; // TODO remove as shifts
}



.class-data-table tr {
    th:nth-child(2),
    td:nth-child(2) {
        padding-right: 0px !important;
    }

    th:nth-child(3),
    td:nth-child(3) {
        padding-left: 4px !important;
    }
}
