body {
  background-color: #000000;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(216, 213, 208);
  font-size: 20px;
}
  .blocks {
  border-radius:5px;
  width:100%;
  text-align:center;
}
.title-bar {
  background-color:darkslategrey;
  font-size:60px;
  height:75px;
  vertical-align:middle;
  position:absolute;
  border-bottom-left-radius:0px; 
  border-bottom-right-radius:0px; 
}
.button {
  background-color: rgb(73, 145, 145);
  border: none;
  color: rgb(216, 213, 208);
  padding: 10px;
  width:100px;
  font-size: 16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 0.7;
  transition: 0.4s;
  text-decoration: wavy;
  cursor: pointer;
  float: left;
}
.button:hover {opacity: 1}
.h-nav-bar {
  background-color:white;
  height:39px;
  vertical-align:middle;
  border-top-left-radius:0px; 
  border-top-right-radius:0px; 
}
.h-button1 {
  border-bottom-left-radius:4px; 
}
.h-button4 {
  border-bottom-right-radius:4px;
}
.v-nav-bar {
  background-color:rgb(117, 117, 117);
  height:192px;
  width:7.83%;
  cursor:pointer;
  text-align:left;
  display:block;
  position:fixed;
  z-index:11;
}
.v-button1 {
  border-top-left-radius:5px; 
  border-top-right-radius:5px; 
  border-bottom-right-radius:0px; 
}
.v-button4 {
  border-bottom-left-radius:5px; 
  border-bottom-right-radius:5px;
}
#link {
  color:rgb(52, 135, 138);
}
#resources {
  font-size:20px;
  text-align:center;
}
.dropdown {
  display:inline-block;
}
.dropdown-content {
  display:none;
  position:static;
}
.dropdown-content > .pw{
  width:140px;
  float:right;
  min-height:10px;
  font-size:15px;
}
.dropdown-content a {
  color:rgb(242, 247, 248);
  padding: 12px 16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration:none;
  font-size:10px;
  width:68px;
  text-align:center;
  display:block;
}
.dropdown-content a:hover {background-color: rgb(92, 167, 167); border-radius:5px;}
.dropdown:hover .dropdown-content {display: block;}
.content-bar {
  display:none;
  background-color:black;
  vertical-align:middle;
  top:95px;
  left:120px;
  width:1100px;
  overflow-y:auto;
  position:absolute;
  z-index:10;
}
.content-button {
  background-color: rgb(73, 145, 145);
  border: none;
  color: rgb(216, 213, 208);
  width:520px;
  height:110px;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 0.7;
  transition: 0.4s;
  border-radius:5px;
  cursor:pointer;
  float:left;
  margin:8px;
}
.content-button:hover {background-color: rgb(80, 175, 175);}
.course-button {
  background-color: rgb(73, 145, 145);
  border: none;
  color: rgb(216, 213, 208);
  width:210px;
  height:75px;
  font-size:17px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 0.7;
  transition: 0.4s;
  text-decoration: wavy;
  cursor:pointer;
  padding: 10px;
  float:left;
  border-radius:5px;
  margin:3px;
}
button.course-button:focus{
  background-color:rgb(21, 29, 29);
  opacity:1;
}
.course-button:hover {opacity: 1}
.footer {
  position:initial;
  left:0;
  bottom:0;
  width: 100%;
  background-color:blue;
  border-color:rgb(73, 145, 145);
  color: white;
  text-align: center;
  z-index:9;
  display:none;
}
.flow {
  display:block;
  background-color:black;
  top:130px;
  width:18%;
  border-radius:5px;
  overflow-y:auto;
  position:absolute;
  z-index:10;
  min-height:300px;
}
.half {
  width:36%;
}
.quarter3 {
  width:54%;
}
.full {
  width:88%;
}
.flow-button {
  display:block;
  background-color:rgb(73, 145, 145);
  color:rgb(216, 213, 208);
  padding:10px;
  border:none;
  width:210px;
  height:70px;
  font-size:15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity:0.7;
  transition:0.4s;
  text-align:center;
  border-radius:5px;
  cursor:pointer;
  float:left;
}
button.flow-button{
  margin-left:10px;
  margin-bottom:8px;
}
button.fb2{
  margin-left:13px; 
}
button.fb3{
  
  margin-left:16px; 
}
button.flow-button:focus{
  background-color:rgb(58, 75, 75);
  opacity:1;
}
.flow-button:hover {background-color: rgb(80, 175, 175)}

.arrow{
  width:110px;
  height:50px;
  display:none;
  position:absolute;
  z-index:1111;
}