<!-- i honestly dont know if this is the best way to do this but we are going with the flow for right now -->


<!DOCTYPE html>
<html>
<head>
    <title>HASS Pathways</title>
    <link rel="stylesheet" type="text/css" href="hp.css"/>
</head>

<body>
    <div class="mybox">
        <h1> STSH Courses </h1>
    </div>
    
    <br />
    <div class="courseSearch">
        <form method="POST">
            <label for="courseSearch"> Course Search: </label>
            <input type="text"
                name="courseSearch"
                placeholder="enter STSH course here"
            >
    </div>
    
    <!--can automate this later -->
    <!--want to actually eb reading from and to the json file - will figure that out more later -->
    <div class="courseSection">
        <h2> Courses </h2>
        <ul>
        <li> <a href="HoSaT"> History of Science and Technology </a></li>
        <li> <a href="DiH"> Drugs In History </a></li>
        <li> <a href="SbD"> Sustainability by Design </a></li>
        <li> <a href="etc"> etc...etc....etc </a></li>
        </ul>
    </div>

</body>





</html>