<!DOCTYPE html>
<html>
<head>
    <title>HASS Pathways</title>
    <link rel="stylesheet" type="text/css" href="hp.css" />
</head>
<body>
    <h1> HASS Pathways Homepage </h1>
    <!--can automate this later -->


    <div class="courseSection">
        <h2> Courses </h2>
        <ol>
        <li> STSH </li>
        <li> WRIT </li>
        <li> IHSS </li>
        <li> PHIL </li>
        <li> ARTS </li>
        <li> COMM </li>
        <li> LITR </li>
        <li> LANG </li>
        <li> STSS </li>
        <li> GSAS </li>
        <li> COGS </li>
        <li> PSYC </li>
        <li> ENGR </li>
        <li> ECON </li>
        <li> ITWS </li>
        </ol>
    </div>

    <div class="courseSearch">
        <!--form will go eventaully to json file? or that might be later -->
        <form method="POST">
            <label for="courseSearch"> Course Search: </label>
            <input type="text"
                name="courseSearch"
                placeholder="course search"
            >
    </div>

    <p id = "first"> hello world </p>

</body>





</html>