<!DOCTYPE html>
<html>
<head>
    <title>HASS Pathways</title>
    <link rel="stylesheet" type="text/css" href="hp.css"/>
</head>

<body>
    <div class="mybox">
        <h1> HASS Pathways Homepage </h1>
        <!-- <p><img src="logo.png" width="50" height="50"/></p> -->
        <!-- ^^^ for picture -->
    </div>
    
    <br />
    <div class="courseSearch">
        <!--form will go eventaully to json file? or that might be later -->
        <form method="POST">
            <label for="courseSearch"> Course Search: </label>
            <input type="text"
                name="courseSearch"
                placeholder="enter course here"
            >
    </div>
    
    <!--can automate this later -->
    <div class="courseSection">
        <h2> Courses </h2>
        <ul>

        <li> <a href="courseList1.html"> STSH </a></li>
        <li> <a href="WRIT"> WRIT </a></li>
        <li> <a href="IHSS"> IHSS </a></li>
        <li> <a href="PHIL"> PHIL </a></li>
        <li> <a href="ARTS"> ARTS </a></li>
        <li> <a href="COMM"> COMM </a></li>
        <li> <a href="LITR"> LITR </a></li>
        <li> <a href="LANG"> LANG </a></li>
        <li> <a href="STSS"> STSS </a></li>
        <li> <a href="GSAS"> GSAS </a></li>
        <li> <a href="COGS"> COGS </a></li>
        <li> <a href="PSYC"> PSYC </a></li>
        <li> <a href="ENGR"> ENGR </a></li>
        <li> <a href="ECON"> ECON </a></li>
        <li> <a href="ITWS"> ITWS </a></li>
        </ul>

    
        <!--
        <a href="STSH"> STSH </a>
        <a href="WRIT"> WRIT </a>
        <a href="IHSS"> IHSS </a>
        <a href="PHIL"> PHIL </a>
        <a href="ARTS"> ARTS </a>
        <a href="COMM"> COMM </a>
        <a href="LITR"> LITR </a>
        <a href="LANG"> LANG </a>
        <a href="STSS"> STSS </a>
        <a href="GSAS"> GSAS </a>
        <a href="COGS"> COGS </a>
        <a href="PSYC"> PSYC </a>
        <a href="ENGR"> ENGR </a>
        <a href="ECON"> ECON </a>
        <a href="ITWS"> ITWS </a>
        -->
    </div>

</body>





</html>