.mybox {
  border: solid 0.5em #b35a57;
  /*                    ^^ color from current website
  border-top-color: red;*/
  width: auto;
}
body{

}
h1{
    text-align:center;
    font-size:200%;
}
a{

    font-size:150%;
}
