#button1 {
  margin-bottom: 36px;
  background-color: rgba(180, 67, 52, 0.87);
}

.expansion-panel {
  position: relative;
  top: 72px;
  margin-bottom: 36px;
}

#progressBarAndSave {
  width: 100%;
}

#progressBar {
  width: 90%;
}

#expansion-header {
  color: white;
}