<!DOCTYPE html>
<html>
    <head>
        <title> API PAGE </title>
    </head>
    <body> 
        <h1>
            <u>HASS PATHWAYS</u>
        </h1>
            <h4>API INFO PAGE handles data requests.</h4>
            <ul>
                <li>\Edit</li>
                    <p>- upadtes information of the course</p>
                <li>\Login Page</li>
                    <p> - takes in a username and password and check to make sure it is valid</p>
                <li>\Guard</li> 
                    <p>- used to test if the server works for a user</p>
                <li>\Admin</li>
                    <p>- redirects to the url of login page</p>
        </ul>
    </body>
</html>